<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel ="stylesheet" type = "text/css" href="./css/style.css" />
    <title>Document</title>
</head>
<body>

    <div class="user-name">
        <h3>What is your name?</h3>
        <input type = "text" placeholder = "Type your name here" name="username" id="username" required />
        <button id="btn-login">Register</button>
    </div>

    <div class="chat-room">
        <div class="logout">
            Hello <span class="current-user"></span>
            <button id="logout">Logout</button>
        </div>
        <div class="content-user">
            <div class="chat">
                <div class="content">
                    <div class="message-chat">
                    <!-- chat content -->
                    </div>
                    <div class="typing">
                        <span class="name_of_user"></span><span>is typing</span><img src="./img/loader.gif" alt=""/>
                    </div>
                </div>
                
                <div class="chat-form">
                        <input type="text" name="content" placeholder = "Type your message here!" id="message"  autocomplete="off">
                        <button id="bnt-chat"> Send </button>
                </div> 
            </div>
            <div class="user-online">
                <div class="title">User ONLINE</div>
                <div id="user-onl_content"></div>
            </div>
        </div>
        
    </div>



    <!-- script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="./js/chat.js"></script>

</body>
</html>